*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
body {
    background-color:  rgb(58, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
#nav{
    display: grid;
    background-color: black;
    width: 100vw;
}
ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
}
#nav ul li{
    margin: 20px 5px;
}
#nav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    padding-left: 25px;
    color: white;
}
a:hover{
    background-color: rgb(58, 57, 57);
}
/* --             info                                             -- */
#info{
    margin-top: 30px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('music.jpg');
    background-size: contain;
    background-position: center;
    background-color: black;
    height: 90vh;
}
#info h1{
    color: tomato;
   font-size: 60px;
}
#info h2{
   font-size: 37px;
   color: rgb(255, 0, 76);
}
#info p{
    color: rgb(42, 253, 0);
    
  font-size: 20px;
  padding: 0px 59px 0px 59px;
}

/* ----------------  ABOUT --------------------------------- */
#about{
    height: auto;
    text-align: center;
    padding-top: 48px;
}
#about h1{
   font-size: 50px;
}
#about h2{
   font-size: 30px;
}
#about p{
  font-size: 20px;
  padding: 0px 59px 0px 59px;
}
#about a{
    text-decoration: none;
    background-color: red;
    padding:20px 10px 20px 10px;
    line-height: 127px;
}
/* --                          Figure                      -- */
#fig{
    text-align: center;
}
/* --                                    TV                       -- */
#tv{
text-align: center;
background-color: white;
}
#tv h1{

    font-size: 25px;
}
#tv p{ color: black;
     line-height: 40px;
    font-size: 18px;
    padding: 0px 59px 0px 59px;
}
#tv a{
    padding:15px 10px 15px 10px;
    text-decoration: none;
    background-color: blue;
    margin-bottom: 15px;
    display: inline-block;
}
/* --                     Alt                  -- */
#alt{
     padding-top: 74px;
     padding-bottom: 74px;
    text-align: center;
  box-sizing: border-box;
}
#alt h1{

    font-size: 35px;
}
#alt p{
line-height: 40px;
    font-size: 25px;
    padding: 0px 59px 0px 59px;
}
/* --                                   Giftcard                            */
#coupan{
     display:grid;
     grid-template-columns: 50% 50%;
    background-color: white;
    color: black;
    height: auto;
}
#redeem {
    display: grid;
   align-content: center;
   
}
#redeem h2{
    font-size: 35px;
    color: black;
}

#redeem p{
    font-size: 18px;
    color: black;
}
#coupan a{
    background-color: white;
}
/* --                                        footer                                       -- */
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer a{
    display: block;
    text-decoration: none;
    color: #000;
}
.footer a:hover{
    color: #fff;
}
/* --                                   copyright                                -- */
body > h3{
  text-align: center;
  background-color: rgb(46, 43, 43);
   padding: 20px;
}
/* --                                  Media screen                           -- */
  @media screen and (max-width: 900px){
      #coupan{
          display: flex;
          flex-direction: column;
          padding: 20px;
      }
    
  }
  @media screen and(max-width:700px){
      #footer{
          display: grid;
          grid-template-columns: auto auto;
      }
    
  }
  @media screen and (max-width:680px){
   #footer{
       display: grid;
       grid-template-columns: auto;
   }
  #info{
        padding:20px 5px 20px 5px ;
  }
  #info h2{
      font-size: 30px;
      margin-bottom: 40px;
  }
  #info h1{
      font-size: 40px;
  }
  #info{
      background-size: cover;
      height: 100%;
  }

  }